.content-section {
  position: relative;
  display: flex;
  border-top: 2px solid black;
  flex-direction: column;
  height: 100vh;
  min-width: 100vw;
  display: flex;
  .navigation {
    margin: 0 auto;
    transform: translateX(-8px);
  }
  .return-btn {
    margin: 0 auto;
    border: 1px solid black;
    padding: 1rem 3rem;
    margin: 1rem;
    background-color: white;
    transition: 0.09s background-color ease-in-out;
    &:hover {
      cursor: pointer;
      color: white;
      background-color: black;
    }
    &:focus {
      outline: none;
    }
  }
}

.card-section {
  display: flex;
  overflow-x: scroll;
  height: 100vh;
}

.people {
  background-image: url("../../utils/images/sw-waiting.jpg");
  background-size: cover;
  background-position: top;
}

.vehicles {
  background-image: url("../../utils/images/sw-millfalc.jpg");
  background-size: cover;
  background-position: bottom;
}

.planets {
  background-image: url("../../utils/images/sw-planetside.jpg");
  background-size: cover;
  background-position: bottom;
}

.favorites {
  background-image: url("../../utils/images/sw-boba.jpg");
  background-size: cover;
  background-position: bottom;
}

.carrot {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  top: -93px;
  right: 10px;
  pointer-events: none;
  height: 150px;
  width: 100%;
}
