.content-section {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.carrot {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  top: -93px;
  right: 10px;
  pointer-events: none;
  height: 150px;
  width: 100%;
}
